html * {
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-playarea {
    display: flex;
    height: 100%;
}

.app-header {
    background-color: lightgray;
}

.navbar-list {
    display: flex;
}

.app-sidebar {
    background-color: grey;
    display: block;
    height: 100%;
    z-index: 10;
}

.app-main {
    position: absolute;
}

.select-box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}